body{
  align-items: center;

  justify-content: center;

  display: flex;

  font: 14px "Century Gothic", Futura, sans-serif;

  background-color: rgb(90, 165, 126);

  color: #fff;

  text-align: center;
}