img {
  height: 100px;
  width: 100px;

}

.App {
  display: flex;
  gap: 20px;
  background-color:aquamarine;
}
.Book{
    padding: 50px;
    box-shadow: 5px 5px 5px black;
  }
#high{
  font-style:italic;
  color:blue


}