

body {
  height: 100vh;
  margin: 0;
  display: grid;
  background-color: black;
 font-family: "Bilbo", cursive;
 text-align: center;
 color: #f49a88;
 font-size: 1em;
 margin: auto;
}

h1 {
  font-family: "Bilbo", cursive;
  font-size: 2em;
  font-weight: bold;
  color:blue;
}

button {

  margin: 20px;
  border-radius: 20px;
  padding: auto;
  font-size: 14px;

}

