.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 150px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(137, 180, 9);
  border-color: rgb(17, 17, 16);

}
 

button {
  cursor: pointer;
  margin: 20px;
  border-radius: 20px;
  padding: auto;
  background-color: black;
  color: white;
  font-size: 14px;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
}
body{
  background-color: rgb(178, 225, 177)

}
h2 {
  font-family:Georgia, 'Times New Roman', Times, serif

  
}
h1{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}